# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/weather/myapp/node_modules

# Build output
/weather/myapp/build
/weather/myapp/.cache
/Weatherly/target

# IDE files
.idea
.vscode
*.iml
*.ipr
*.iws

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Secrets
*.pem